* {
  font-family: monospace;
  font-size: 13px;
  box-sizing: border-box;
}

body {
  background-color: grey;
  margin: 0;
}

button,
input {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  margin-left: 0;
  margin-right: 0;
}

button:hover:enabled,
button:active:enabled {
  border: 1px solid white;
  cursor: pointer;
}

canvas {
  width: 480px;
  height: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 1px solid white;
}

.stats,
.topscores,
.private {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.stats > *,
.private > * {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
}

.stats > * > p,
.topscores > p,
.private * {
  background: black;
  padding: 5px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playerA {
  text-align: left;
  width: 49%;
}

.playerB {
  text-align: right;
  width: 49%;
}

.controls {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.gameover h2, .nextround h2, .nextround span, .pk h2 {
  position: absolute;
  top: -1000px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: top 2s;
  font-size: 150px;
  text-shadow: 2px 2px 2px black;
  color: white;
}

.control,
.joinRoom {
  border-radius: 5px;
  margin: 5px;
}

.control:disabled,
.joinRoom:disabled {
  opacity: 0.5;
}

.tile {
  width: 400px;
  padding: 5px;
  border-top: 1px solid black;
}

.tile span {
  color: grey;
  margin: 5px;
}

.joinRoom {
  margin: 5px;
}

.mine {
  color: green !important;
  font-weight: bold;
}

#private {
  margin-top: 35px;
  padding: 5px;
  width: 400px;
  border: 1px solid gray;
  border-radius: 5px;
}
